pre.sourceCode { background-color: #2e3436; color: #eeeeec; width: 50em; padding: 1em; }
pre code { background: inherit; color: inherit; }
pre .ot { color: #ad7fa8; }
pre .dv, pre .st { color: #edd400; }
pre .dt { color: #8ae234; font-weight: bold; }
pre .kw { color: #eeeeec; font-weight: bold; }
