@mixin box-shadow($c) {
    -moz-box-shadow: $c;
    -webkit-box-shadow: $c;
    box-shadow: $c;
}

@mixin text-shadow($val) {
    -moz-text-shadow: $val;
    -webkit-text-shadow: $val;
    text-shadow: $val;
}

* {
    background-color: #fff !important;
    color: #000 !important;
    @include box-shadow(0 0 0 #fff !important);
    @include text-shadow(0 0 0 #fff !important);
}
pre.sourceCode {
    border-width: 0;
}
a {
    text-decoration: none;
}
.timeinfo {
    text-align: left;
}
body:before, body:after, p.navigation, .timeinfo span, #footer, #face,
.solution {
    display: none;
}
.hiding-box {
    border: none;
}
.hint div {
    display: block;
}
