* {
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: 0 0 0 #fff !important;
    -moz-box-shadow: 0 0 0 #fff !important;
    -webkit-box-shadow: 0 0 0 #fff !important;
    text-shadow: 0 0 0 #fff !important;
    -moz-text-shadow: 0 0 0 #fff !important;
    -webkit-text-shadow: 0 0 0 #fff !important;
}
body:before, body:after {
    background-color: #fff;
}
pre.sourceCode {
    border-width: 0;
}
a {
    text-decoration: none;
}
.timeinfo {
    text-align: left;
}
p.navigation, .timeinfo span, #footer, #face {
    display: none;
}
