body {
    padding: 30px;
    background-color: #E0E4ED;
    margin: 0;
}

#envelope {
    max-width: 45em;
    background-color: #ffffff;
    color: #111111;
    padding: 1em 2em;
    margin: 0 auto;
}

h1, h2, h3, a {
    background-color: #ffffff;
    color: #204a87;
}
h1 {
    text-shadow: #cccccc 3px 3px 1px;
}

h2[id]:hover:after {
    content: " #" attr(id);
    color: #aaaaaa;
    font-weight: normal;
    font-size: 75%;
}

a:hover {
    text-decoration: none;
}

.figure {
    margin-top: .5em;
}

li {
    line-height: 150%;
}
li p {
    line-height: 130%;
}
.footnotes li p {
    margin-top: 0;
    margin-bottom: 0.2em;
}
.figure {
    text-align: center;
}
.figure .caption {
    margin: 0;
    color: #555555;
}

code {
    background-color: #eeeeee;
    color: #000000;
    padding: .1em;
}

dt {
    margin-top: 1em;
    font-weight: bold;
}

a[href$=pdf] {
    background: url("../images/pdf.png") center right no-repeat;
    padding-right: 18px;

}

.rounded {
    border-radius:         10px;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    box-shadow:         #ccc 3px 3px 0px;
    -moz-box-shadow:    #ccc 3px 3px 0px;
    -webkit-box-shadow: #ccc 3px 3px 0px;
}

table td {
    background-color: #f0f0f0;
    color: #000000;
}

p.navigation {
    float: left;
    margin-top: -1em;
}
ul.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.navigation li {
    display: inline-block;
    margin: 0; padding: 0;
}
ul.navigation img {
    vertical-align: middle;
    margin-right: .5em;
    border: none;
}

.timeinfo {
    margin-top: -1em;
    text-align: right;
}
.timeinfo span {
    display: block;
}

.tagcloud {
    margin-top: -1.3em;
}

#footer {
    background-color: #ffffff;
    max-width: 45em;
    padding: 1em 2em;
    margin: 1em auto 0 auto;
}
#footer li {
    padding: 0 .7em 0 0;
    border-right: 1px solid #204a87;
    margin: 0 .5em 0 0;
    line-height: 100%;
}
#footer li.last {
    border-right: none;
    color: red;
}
#footer li.license {
    float: right;
    border: 0;
    margin: 0;
    padding: 0;
}

pre.sourceCode {
    background-color: #2e3436;
    color: #eeeeec;
    border: 5px solid #2e3436;
}

pre code {
    background: inherit;
    color: inherit;
}

pre .ot {
    color: #ad7fa8;
}

pre .dv, pre .st {
    color: #edd400;
}

pre .dt {
    color: #8ae234;
    font-weight: bold;
}

pre .kw {
    color: #eeeeec;
    font-weight: bold;
}

/* BORDERS */
body:before, body:after {
    content: " ";
    position: fixed;
    background-color: #ccccff;
}
body:before {
    width: 8px;
    height: 100%;
    top: 0;
    left: 0;
}
body:after {
    width: 8px;
    height: 100%;
    top: 0;
    right: 0;
}
