body {
    padding: 30px 50px;
    background-color: #E0E4ED;
}

#envelope {
    max-width: 45em;
    background-color: #ffffff;
    padding: 1em 2em;
    margin: 0 auto;
}

h1, h2, h3 {
    background-color: #ffffff;
    color: #5c3566;
}
h1 {
    text-shadow: #cccccc 3px 3px 1px;
}

a {
    color: #204a87;
    background-color: #ffffff;
}
a:hover {
    text-decoration: none;
}

li {
    line-height: 150%;
}

code {
    background-color: #eeeeee;
    color: #000000;
    padding: .1em;
}

dt {
    margin-top: 1em;
    font-weight: bold;
}

a[href$=pdf] {
    background: url("../images/pdf.png") center right no-repeat;
    padding-right: 18px;

}

.rounded {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

table td {
    background-color: #f0f0f0;
    color: #000000;
}

p.navigation {
    float: left;
    margin-top: -1em;
}
ul.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.navigation li {
    display: inline-block;
    margin: 0; padding: 0;
}
ul.navigation img {
    vertical-align: middle;
    margin-right: .5em;
}

.timeinfo {
    margin-top: -1em;
    text-align: right;
}
.timeinfo span {
    display: block;
}

.tagcloud {
    margin-top: -1.3em;
}

#footer {
    background-color: #ffffff;
    max-width: 45em;
    padding: 1em 2em;
    margin: 1em auto;
}
#footer li {
    padding: 0 .7em 0 0;
    border-right: 1px solid #204a87;
    margin: 0 .5em 0 0;
    line-height: 100%;
}
#footer li:last-child {
    border-right: none;
    color: red;
}


pre.sourceCode {
    background-color: #2e3436;
    color: #eeeeec;
    border: 5px solid #2e3436;
}

pre code {
    background: inherit;
    color: inherit;
}

pre .ot {
    color: #ad7fa8;
}

pre .dv, pre .st {
    color: #edd400;
}

pre .dt {
    color: #8ae234;
    font-weight: bold;
}

pre .kw {
    color: #eeeeec;
    font-weight: bold;
}
