<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="$root/css/style.css" />
    <link rel="stylesheet" type="text/css" href="$root/css/print.css" media="print" />
    <link rel="alternate" type="application/rss+xml" href="$root/rss.xml" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="$root/favicon.ico" />
    <title>$title</title>
  </head>

  <body id="top">

    <div id="envelope" class="rounded">
      $body
    </div>

    <ul id="footer" class="rounded navigation">
      <li><a href="$root">Úvod</a></li>
      <li><a href="#top">Nahoru</a></li>
      <li><a href="https://is.muni.cz/auth/">IS</a></li>
      <li class="last"><a href="https://fadmin.fi.muni.cz/auth/">Fadmin</a></li>
      <li class="license"><a href="http://creativecommons.org/licenses/by/3.0/">
        <img src="$root/images/cc-by.png" alt="CC-BY" title="Licencováno jako Creative Commons Attribution" /></a>
      </li>
    </ul>

  </body>
</html>
