<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="$root/css/style.css">
    <title>$title</title>
  </head>

  <body id="top">

    <div id="envelope" class="rounded">
      $body
    </div>

    <ul id="footer" class="rounded navigation">
      <li><a href="$root">Zpět na začátek</a></li>
      <li><a href="#top">Nahoru</a></li>
      <li><a href="https://is.muni.cz/auth/">IS</a></li>
      <li class="last"><a href="https://fadmin.fi.muni.cz/auth/">Fadmin</a></li>
      <li class="license"><a href="http://creativecommons.org/licenses/by/3.0/">
        <img src="$root/images/cc-by.png" alt="CC-BY" title="Licencováno jako Creative Commons Attribution"></a>
      </li>
    </ul>

  </body>
</html>
