<h1 class="mainheader">$title$</h1>

<h2>Nedávné příspěvky</h2>
<ul>
  $posts$
</ul>

<ul class="navigation">
  <li><a href="/rss.xml"><img src="/images/feed-icon-14x14.png" alt="RSS" width="14"></a></li>
  <li><a href="/posts.html">Všechny texty</a></li>
</ul>

<h2>Štítky</h2>
<div class="tagcloud">
  $tagcloud$
</div>

<h2>Kontakt</h2>

<p>Používám školní e-mail <code>lsedlar@mail.muni.cz</code>. Fingerprint <a
    href="data/public-key.pgp">mého klíče PGP</a> je <code>F640 81CA BF7E 02E9
    1C0C 3FC3 54CC 0A57 D702 431B</code>.</p>
